<!DOCTYPE html>
<html lang="en">
<title>DEVOPS AKATEMIA VOL 3</title>
<body>
<h1>THIS IS DevOps Akatemia volume 3!</h1>
<h2>Hello <%= name %>!</h2>
<h3>Extra flavor! More lines to satisfy your needs.</h3>
</body>
</html>